@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    --text: #dbe8f8;
    --background: #02080c;
    --primary: #8bbbe8;
    --secondary: #ff1145;
    --accent: #fcaf1f;
    --dark-blue: #031725;

    background-color: var(--background);
    color: var(--text);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    display: flex;
    min-height: 100dvh;
}

#main-nav {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 32px 16px;
    max-height: 100dvh;
    overflow-y: auto;
    border: 1px solid transparent;

    >.main-nav-btn {
        transition: all 0.2s ease-in-out;
        color: var(--text);
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 2px 8px;
        border-radius: 4px;
    }

    >.main-nav-btn:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

    >.main-nav-btn.active {
        font-weight: 800;
        border: 1px solid rgba(255, 255, 255, 0.3)
    }
}

#main-content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-info {
    position: absolute;
    left: 32px;
    top: 8px;
    font-weight: 800;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px;
    border-radius: 4px;
}

.color-palette {
    position: absolute;
    right: 32px;
    top: 8px;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;

    >.label {
        font-size: 14px;
        font-weight: 800;
        border-bottom: 1px solid white;
        width: 100%;
    }
}

.color-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.color-preview-box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: gray;
}

.copy-btn {
    border: none;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: black;
    font-weight: 800;
    color: white;
    margin-left: auto;
}

.column {
    position: relative;
}

.column.active:hover::before {
    content: "";
    border: 2px dashed var(--accent);
    position: absolute;
    left: -8px;
    right: -8px;
    top: -8px;
    bottom: -8px;
    pointer-events: none;
}

.column.active:hover::after {
    content: "↓";
    position: absolute;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--accent);
    font-size: 32px;
    font-weight: bold;
    pointer-events: none;
}

.row {
    position: relative;
}

.row.active:hover::before {
    content: "";
    border: 2px dashed var(--secondary);
    position: absolute;
    left: -8px;
    right: -8px;
    top: -8px;
    bottom: -8px;
    pointer-events: none;
}

.row.active:hover::after {
    content: "→";
    position: absolute;
    top: -29px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary);
    font-size: 32px;
    font-weight: bold;
    pointer-events: none;
}