.review-boxes {
    gap: 18px;
    flex-direction: column;
    display: flex ;
}

.review-box {
    border-radius: 6px;
    padding: 14px;
    gap: 7px;
    display: flex;
    align-items: center;
    background-color: #031725;
    border: 2px solid white;
}

.review-info {
    gap: 3px;
    display: flex;
    flex-direction: column;
}

.short-review {
    font-weight: 900;
}

.reviewer-name {
    font-size: 11px;
    font-weight: 900;
    align-self: flex-end;
}